.nav{
    color:white;
    background-color:black;

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    padding:30px 80px;
}
.nav h1{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    cursor:pointer;
}
.nav ul{
    display:flex;
    gap:40px;
    list-style-type:none;
    cursor:pointer;
}

.nav ul li:hover{
    /* cursor:pointer; */
    color:red;
    transform:scale(1.1);

    transition:all 0.26s;
}

@media all and (max-width: 950px){
    .nav{
        flex-direction:column;
        gap:30px;
    }
}